{%  extends '::base.html.twig'%}

{% block title %}Home{% endblock %}

{% block body %}
    <ul>
        <li><a href="{{ path('app_calculator_index') }}">Home </a> </li>
        <li><a href="{{ path('app_calculator_sum') }}">Suma </a> </li>
        <li><a href="{{ path('app_calculator_resta') }}">Resta </a> </li>
        <li><a href="{{ path('app_calculator_multi') }}">Multiplicacion </a> </li>
        <li><a href="{{ path('app_calculator_division') }}">Division </a> </li>
    </ul>
{% endblock %}