<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>
<body>
    <ul>
        <li><a href="{{ path('app_calculator_index') }}">Inicio</a> </li>
        <!--<li><a href="{{ path('') }}">Suma</a> </li>
        <li><a href="{{ path('') }}">Resta</a> </li>
        <li><a href="{{ path('') }}">Multiplicacion</a> </li>
        <li><a href="{{ path('') }}">Division</a> </li>-->
    </ul>
</body>
</html>