{% extends '::base.html.twig' %}
{% block body %}
    <div>
        <form method="post" action="{{ path('app_producto_doUpdate') }}">
            <input type="hidden" name="id" value="{{ producto.id }}">
            {{ producto.id }}<br>
            <input type="text" value="{{ producto.name }}" name="name"><br>
            <input type="text" value="{{ producto.descripcion }}" name="description"><br>
            <input type="number" min="0.01" step="0.01" max="9999.99" value="{{ producto.precio }}" name="prize"><br>
            {{ producto.createdAt|date("d/m/Y H:i:s") }}<br>
            {{ producto.updatedAt|date("d/m/Y H:i:s") }}<br>
            <input type="submit" value="Update">
        </form>
    </div>
{% endblock %}